// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Code Style */

/*Code text*/
.code-text-n {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.code-text {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.code-btn {
    color: white;
    text-decoration: none;
}

.code-btn:hover {
    color: white;
    text-decoration: none;
}
